@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#banner {
  background-color: #EBEBEB;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  
}

.banner_class{
  background-image: url('images/path\ 2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
/* .bor {
  border: 1px solid black;
} */

/* .bb {
  margin-top: -32px;
  margin-bottom: -12px;
} */

/* for logo starts */
.grapherdesklogo {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 69px;
}

/* .margin-logo {
  margin-bottom: 50px;
} */

/* for logo ends */

.media-10 {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* images css starts */

.Ellipse {
  display: flex;
  justify-content: center;

}

.image-Ellipse {
  width: 30px;
  height: 30px;

}

#slant-div {
  background-color: #EBEBEB;

}

.img-fluid-1 {
  width: 105%;
  height: auto;
}

.slant-div {
  margin: 0;
  width: 105%;
  position: relative;
  height: 150px;
  right: -10px;
}

.image-Group-8 {
  display: flex;
  justify-content: end;
  position: relative;
  top: 30px;
  right: -5px;
}

.group-8 {
  width: 91px;
  height: 81px;
}

.Ellipse-17 {
  width: 38px;
  height: 38px;
  position: relative;
  bottom: 30px;
}

.Ellipse-9 {
  width: 90px;
  height: 90px;
}

.megaphone {
  display: flex;
  justify-content: center;
}

.image-megaphone {
  /* width: 469px;
  height: 400px; */
  width: 425px;
  height: 315px;
}

.Ellipse-131 {
  width: 57px;
  height: 52px;
}


.image-Ellipse-13 {
  display: flex;
  justify-content: end;
  position: relative;
  left: 23px;
  bottom: 130px;
}

.group-10 {
  width: 120px;
  height: 81px;

}

.images-group-10 {
  position: relative;
  top: 30px;
  left: -10px;

}


.Ellipse-13 {
  width: 45x;
  height: 45px;
  position: relative;
  top: 50px;

}



/* image css ends */

/* text css starts */
.content-1 {
  font-weight: bolder;
  font-size: 57px;
  color: #545454;
  letter-spacing: 20.4px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  flex-wrap: nowrap;
}

.margin {
  margin-top: 100px;
}

.content-2 {
  letter-spacing: 1.6px;
  color: #545454;
  position: relative;
  bottom: 40px;
  left: 25px;
  font-family: 'Roboto', sans-serif;
  flex-wrap: nowrap;
}

/* text css ends */

/* button css starts */
.main-btn {
  display: flex;
  justify-content: end;
  position: relative;
  right: 57px;
  bottom: 20px;
}

.main-btn-1 {
  position: relative;
  right: 7px;
  text-transform: capitalize;
  border: 1px solid white;
  letter-spacing: 0.72px;
  padding: 10px 16px;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #545454;
  font-family: 'Roboto', sans-serif;
  margin-right: 29px;
  border-radius: 5px;
  box-shadow: #00000029 0px 3px 6px;
}

.main-btn-2 {
  border: 1px solid #545454;
  letter-spacing: 0.72px;
  padding: 10px 16px;
  text-decoration: none;
  background-image: linear-gradient(#545454, #111111);
  color: #EBEBEB;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.main-btn-1:hover {
  color: #545454;
}

.main-btn-2:hover {
  color: #EBEBEB;
}

/* button css ends */


/* for hiding mobile view in bigger screen starts */
@media only screen and (min-width: 1281px) {
  #respo {
    display: none;
  }


}

@media only screen and (min-width: 768px) {
  #respo {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #respo {
    display: none;
  }


}

@media only screen and (min-width:578px) {
  #respo {
    display: none;
  }


}




/* some correction in bg screen */
@media only screen and (max-width: 810px) {
  .content-1 {
    font-weight: bolder;
    font-size: 57px;
    color: #545454;
    letter-spacing: 10.4px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    flex-wrap: nowrap;
  }

  .margin {
    margin-top: 100px;
  }

  .content-2 {
    letter-spacing: 0.6px;
    color: #545454;
    position: relative;
    bottom: 40px;
    left: 25px;
    font-family: 'Roboto', sans-serif;
    flex-wrap: nowrap;
  }

  .main-btn {
    display: flex;
    justify-content: end;
    position: relative;
    right: 20px;
    bottom: 20px;
  }

}



/* for hiding mobile view in bigger screen ends */


/* CSS for mobile view */
/* max-width: 528px */
@media only screen and (max-width: 578px) {
  #banner {
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #respo {
    background-color: #EBEBEB;
    width: 100%;
    height: 130vh;
    overflow-x: hidden;
    background-image: url('images/Path\ 30-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  #slant-di {
    background-color: #EBEBEB;
    width: 100%;
    height: 25vh;
  }

  .img-fluid-1 {
    width: 105%;
    height: auto;
  }

  .slant-di {
    width: 105%;
    height: 25vh;
  }

  .grapherdesklogo-1 {
    display: flex;
    justify-content: center;
    height: 69px;
  }

  .size {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 75px;
    left: 15px;
  }

  .image-size {
    width: 150px;
    height: 89px;
    position: relative;
    right: 111px
  }

  .image-Ellips {
    width: 20px;
    height: 20px;
  }

  .media-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

  }

  .media-4 {
    display: flex;
    justify-content: start;
  }

  .media-3 {
    display: flex;
    justify-content: center;
  }

  .media-1 {
    display: flex;
    justify-content: end;
  }

  .media-1 img {
    position: relative;
    left: 13px;
  }

  .mt-3 {
    margin-top: 3rem !important;
  }

  .grou-8 {
    width: 74px;
    height: 94px
  }

  .hir {
    font-size: 10vw;
    font-weight: bolder;
    color: #545454;
    font-family: 'Open Sans', sans-serif;

  }

  .creativ {
    font-size: 5vw;
    color: #545454;
    font-family: 'Roboto', sans-serif;
  }

  .main-btn-3 {
    text-transform: capitalize;
    border: 1px solid white;
    letter-spacing: 0.72px;
    padding: 10px 16px;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #545454;
    font-family: 'Roboto', sans-serif;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: #00000029 0px 3px 6px;
    font-size: 5vw;

  }

  .main-btn-4 {
    border: 1px solid #545454;
    letter-spacing: 0.72px;
    padding: 10px 25px;
    text-decoration: none;
    background-image: linear-gradient(#545454, #111111);
    color: #EBEBEB;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    margin-right: 2px;
  }

  .main-btn-3:hover {
    color: #545454;
  }

  .main-btn-4:hover {
    color: #EBEBEB;
  }
}